<!-- Footer -->
<div class="site-footer">
  <div class="site-wrapper">
    <div class="row">
      <div class="col-sm-7">© <%= Time.now.year %> Scribble. All Rights Reserved</div>
      <div class="col-sm-5 policy-and-support">
        <!--<a href="#">Privacy Policy</a> |-->
        <!--<a href="#">Support</a>-->
      </div>
    </div>
  </div>
</div>

<div class="site-footer-end big-wrapper"></div>
<!-- ./Footer -->
