
<!-- Navigation Bar -->
<div class="navbar two" role="navigation">
  <div class="top_white_header">
    <div class="container">
      <div class="row">
        <!--<div class="col-sm-12">
            <div class="social_top">
            <a href="#" title="Facebook"><i class="fa fa-facebook"></i></a>
            <a href="#" title="Twitter"><i class="fa fa-twitter"></i></a>
            <a href="#" title="Instagram"><i class="fa fa-instagram"></i></a>
            <a href="#" title="LinkedIn"><i class="fa fa-linkedin"></i></a>
            </div>
        </div>-->
      </div>
    </div>
  </div>
  <div class="bot_menu_header">
    <div class="container">
      <div class="navbar-header">
        <!-- Menu for Tablets / Phones -->
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <!-- Logo -->
        <a class="navbar-brand" href="index.html">
          <%= image_tag 'theme/logo4.png' %>
        </a>
      </div>
      <div class="collapse navbar-collapse" id="navbar-collapse">


        <!-- Items -->
        <ul class="nav navbar-nav navbar-right">
          <li class="active"><a href="#intro">Home</a></li>
          <!--li><a href="#features">Features</a></li!-->
          <li><a href="#meet">Get Creative</a></li>
          <li><a href="#section-colors">Choose your Color</a></li>



          <!--<li><a href="#team">Specs</a></li>

          <li><a href="#contact">FAQ</a></li>-->
          <li><a href="#specification">Specifications</a></li>
          <li><a href="#press">Press</a></li>
          <li><a href="http://getscribblepen.com/blog/?p=31">FAQs</a></li>
          <li><a href="#newsletter">PRE-ORDER</a></li>
          <!--<li><a href="#contact">Contact Us</a></li>-->

        </ul>
      </div>
    </div>

  </div>


</div>