/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require reset
 *= require bootstrap
 *= require font-awesome
 *= require main
 *= require jquery.ui.all
 *= require isotope
 *= require styles
 *= require media
 *= require_self
 */

/*bootstrap glyphicons font*/
@font-face {
    font-family: 'Glyphicons Halflings';
    src: url('../assets/glyphicons-halflings-regular.eot');
    src: url('../assets/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
    url('../assets/glyphicons-halflings-regular.woff') format('woff'),
    url('../assets/glyphicons-halflings-regular.ttf') format('truetype'),
    url('../assets/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}


@font-face{font-family:'PFD-Light';src:url("//d3rrgxxoyz0alr.cloudfront.net/assets/PFDinDisplayPro-Light-c90bd9e6f920e7641d16b30963687923.ttf") format("truetype")}

@font-face{font-family:'PFD-Medium';src:url("//d3rrgxxoyz0alr.cloudfront.net/assets/PFDinDisplayPro-Med-c68436d37dd55e411b91151c238927ed.ttf") format("truetype")}

@font-face{font-family:'PFD-Regular';src:url("//d3rrgxxoyz0alr.cloudfront.net/assets/PFDinDisplayPro-Reg-80c35983e759076b8bc3e357f01604c2.ttf") format("truetype")}

input:focus {
    border-color: #FFA37F;
    transition-delay: 0s;
    transition-duration: 0.15s;
    transition-property: all;
}

table.footer-logos tr td {
    padding: 15px 7px;
}


.price-list-container {
    width: 100%;
    height: auto;
    display: block;
    padding-top: 110px;
    padding-bottom: 50px;
}
.price-list-wrapper {
    width: 1020px;
    margin: 0 auto;
    overflow: hidden;
}
.price-list-left {
    width: 490px;
    float: left;
}
.price-list-left ul {
    margin: 0;
    padding: 0;
}
.price-list-left ul li {
    overflow: hidden;
    height: 65px;
    margin: 0;
    padding: 0;
    list-style-type: none;
    background: #f8f9f8;
    margin-bottom: 10px;
    color: #EA7134;
}
.price-list-left .details {
    width: 40%;
    float: left;
    padding-top: 20px;
    padding-left: 13px;
    padding-right: 13px;
}
.price-list-left .big-title {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
    line-height: 20px;
}
.price-list-left .description {
    margin: 0;
    line-height: 14px;
    font-size: 11px;
}
.price-list-left .quantity {
    width: 7%;
    float: left;
    font-size: 15px;
    font-weight: bold;
    padding-top: 18px;
    text-align: right;
}
.price-list-left .image {
    width: 28%;
    float: left;
    height: 100%;
    text-align: center;
}
.price-list-left .image img {
    height: 100%;
}
.price-list-left .price {
    width: 25%;
    float: left;
    font-size: 16px;
    font-weight: bold;
    padding-top: 0;
    text-align: right;
    padding-right: 20px;
}

.price-list-right {
    width: 470px;
    margin-left: 60px;
    float: left;
    text-shadow: none;
}
.price-list-right ul {
    margin: 0;
    padding: 0;
}
.price-list-right ul li {
    overflow: hidden;
    height: 85px;
    margin: 0;
    padding: 0;
    list-style-type: none;
    background: #f8f9f8;
    margin-bottom: 4px;
    color: #EA7134;
}
.price-list-right .item-container {
    width: 100%;
    position: relative;
    overflow: hidden;
}
.price-list-right .details {
    width: 45%;
    float: left;
    padding-top: 27px;
    padding-left: 13px;
    padding-right: 13px;
}
.price-list-right .item-status {
    position: absolute;
    right: 80px;
    bottom: 20px;
}
.price-list-right .all-gone-bg {
    background: #F4A799;
}
.price-list-right .item-status.new {
    color: #ffffff;
    background: #EA7134;
    font-weight: bold;
    font-size: 12px;
    line-height: 17px;
    width: 35px;
    text-align: center;
}
.price-list-right .item-status.all-gone {
    color: #ffffff;
    font-weight: bold;
    font-size: 12px;
}

.price-list-right .item-title {
    font-size: 13px;
    font-weight: bold;
    line-height: 10px;
    margin: 0;
}
.price-list-right .item-model {
    font-size: 11px;
    line-height: 13px;
    margin: 0;
}
.price-list-right .item-description {
    line-height: 13px;
    margin: 0;
    font-size: 9px;
}
.price-list-right .item-image {
    width: 28%;
    float: left;
    height: 100%;
}
.price-list-right .item-image img {
    height: 65px;
    margin-top: 10px;
}
.price-list-right .item-price {
    width: 27%;
    float: left;
    padding: 20px 5px 0 0;
}

.price-list-right .item-price .price-one { overflow: hidden; width: 100%; text-align: right; }
.price-list-right .item-price .price-two { overflow: hidden; width: 100%; text-align: right; color: #555; }

.color333 {
    color: #333;
}


.price-list-right .item-price .price-one span {
    display: inline-block;
    vertical-align: top;
}

.price-list-right .item-price .price-one .dollar-big {
    font-size: 14px;
    overflow: hidden;
    font-weight: bold;
}
.price-list-right .item-price .price-one .price-big {
    font-size: 27px;
    line-height: 20px;
}
.price-list-right .item-price .price-one .float-wrapper {
    width: 26px;
    overflow: hidden;
}
.price-list-right .item-price .price-one .float-big {
    line-height: 10px;
    float: left;
    font-weight: bold;
    font-size: 14px;
}
.price-list-right .item-price .price-one .currency-big {
    line-height: 13px;
    float: left;
    font-size: 9px;
}



.price-list-right .item-price .price-two span {
    display: inline-block;
    vertical-align: top;
}

.price-list-right .item-price .price-two .dollar-big {
    font-size: 12px;
    overflow: hidden;
}
.price-list-right .item-price .price-two .price-big {
    font-size: 19px;
    line-height: 14px;
}
.price-list-right .item-price .price-two .float-wrapper {
    width: 26px;
    overflow: hidden;
}
.price-list-right .item-price .price-two .float-big {
    line-height: 9px;
    float: left;
    font-size: 10px;
}
.price-list-right .item-price .price-two .currency-big {
    line-height: 9px;
    float: left;
    font-size: 9px;
}

@media (max-width: 1170px) and (min-width: 320px) {
    .price-list-wrapper {
        width: 490px;
    }
    .price-list-right {
        margin-left: 0;
    }
}


.showcase-container {
    padding-top: 100px;
    width: 100%;
    padding-bottom: 10px;
    font-family: PFD-Medium, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #555555;
}
.showcase-wrapper {
    width: 935px;
    margin: 0 auto;
}
.showcase-title {
    font-size: 22px;
    text-align: center;
    line-height: 45px;
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
    font-weight: bold;
}
.showcase-title span {
    border-bottom: 4px solid #555555;
    line-height: 35px;
    display: inline-block;
}
.showcase-item-container {
    width: 100%;
    overflow: hidden;
    margin-top: 40px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.showcase-item {
    width: 232px;
    float: left;
    border-top: 1px solid #bababa;
    border-right: 1px solid #bababa;
    border-bottom: 1px solid #bababa;
    margin-bottom: 60px;
}
.showcase-item.border-left-for-4 {
    border-left: 1px solid #bababa;
}
.showcase-item-title {
    background-image: -webkit-linear-gradient(#f3f3f3 0%, #e5e5e5 100%);
    background-image: linear-gradient(to , #e5e5e5 100%);
    box-shadow: 0 0px 2px rgba(0,0,0,0.39);
    height: 64px;
    color: #555;
    font-size: 24px;
    border-bottom: 1px solid #bababa;
    padding-top: 20px;
    width: 100%;
    text-align: center;
}
.showcase-item-image {
    padding-top: 20px;
    position: relative;
}
.showcase-item-qt {
    position: absolute;
    top: 101px;
    left: 0;
    right: 0;
    margin: 0 auto;
    font-size: 36px;
    width: 45px;
    height: 35px;
    text-align: center;
}
.showcase-item-image img {
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    width: 80%;
}
.showcase-item-select {
    border-top: 1px solid #cccccc;
    padding: 20px 0;
    text-align: center;
}
.showcase-item-select-wrap {
    display: block;
    overflow: hidden;
    border: 3px solid #d2d2d2;
    border-radius: 5px;
    height: 50px;
    margin: 0 auto;
    width: 170px;
}
.showcase-item-select .minus {
    display: inline-block;
    height: 44px;
    width: 58px;
    background-color: #e7e7e7;
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    color: #ff4700;
    padding-top: 7px;
    cursor: pointer;
    float: left;
}
.showcase-item-select .qt {
    display: inline-block;
    font-size: 28px;
    height: 44px;
    width: 48px;
    float: left;
    text-align: center;
    color: #555555;
    padding-top: 7px;
}
.showcase-item-select .plus {
    display: "inline-block";
    height: 44px;
    width: 58px;
    background-color: #e7e7e7;
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    color: #ff4700;
    padding-top: 7px;
    cursor: pointer;
    float: left;
}
.shipping-wrapper {
    font-family: PFD-Medium, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #555555;
    padding-bottom: 100px;
}
.shipping-wrapper h3 {
    font-family: PFD-Medium, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.shipping-options { }
.shipping-options .section-title {
    text-align: center;
    text-transform: uppercase;
    font-size: 22px;
    width: 360px;
    border-bottom: 4px solid #555555;
    line-height: 45px;
    margin: 0 auto;
    font-weight: bold;
    color: #555555;
}
.shipping-options .section-title.lets-go {
    margin-top: 40px;
}
.shipping-choices-container {
    padding-top: 12px;
    color: #666666;
}
.shipping-choices-container p {
    font-size: 19px;
}
.shipping-choice {
    max-width: 270px;
    font-size: 14px;
    text-transform: uppercase;
    margin: 0 auto;
    padding-left: 21px;
    line-height: 22px;
}
.split-content-panel {
    padding-top: 20px;
}
.shipping-address-wrapper {

}
.shipping-address-wrapper .section-title {
    text-align: center;
    text-transform: uppercase;
    font-size: 22px;
    width: 300px;
    border-bottom: 4px solid #555555;
    line-height: 45px;
    margin: 0 auto;
    font-weight: bold;
    color: #555555;
    margin-bottom: 5px;
}
.shipping-address-wrapper .left-content-unit { }
.shipping-address-wrapper .right-content-unit { }
.shipping-address-form {
    width: 388px;
    max-width: 100%;
    margin: 0 auto;
}
.shipping-address-form label {
    text-align: center;
    font-family: PFD-Light, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    display: block;
    font-size: 18px;
    font-weight: normal;
    color: #666;
    width: 100%;
    margin-bottom: 0;
    line-height: 28px;
    padding-top: 4px;
}
.shipping-address-form input, .shipping-address-form select {
    font-family: PFD-Light, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    display: block;
    background: #fafafa;
    outline: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    font-weight: 100;
    text-align: center;
    text-overflow: ellipsis;
    padding: 0;
    height: 40px;
    width: 100%;
    border: 4px solid #D2D2D2;;
    line-height: 22px;
    color: #666666;
    font-size: 15px;
}
.shipping-address-form input:focus {
    border-color: #FFA37F;
    transition-delay: 0s;
    transition-duration: 0.15s;
    transition-property: all;
}
.shipping-address-form input.address-line-one {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-width: 2px;
}
.shipping-address-form input.address-line-two {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-top-width: 2px;
}
.shipping-address-form .city-state .col-sm-6.city {
    padding-left: 0;
    padding-top: 24px;
}
.shipping-address-form .city-state .col-sm-6.state {
    padding-right: 0;
    padding-top: 24px;
}
.shipping-address-form .zip-country .col-sm-6.zip {
    padding-left: 0;
    padding-top: 24px;
}
.shipping-address-form .zip-country .col-sm-6.country {
    padding-right: 0;
    padding-top: 24px;
}
.shipping-address-form .zip-country .col-sm-6.country input {
    background: #555555;
    border-color: #222222;
    border-width: 3px;
    color: #ffffff;
}
.same-billing-address {
    font-size: 22px;
    width: 388px;
    max-width: 100%;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 20px;
}
.same-billing-address .custom-check {
    width: 20px;
    height: 20px;
    margin: 20px auto;
    position: relative;
}
.same-billing-address .custom-check input {
    margin: 3px 3px 3px 4px;
}
.same-billing-address .custom-check label {
    cursor: pointer;
    position: absolute;
    width: 20px;
    height: 20px;
    top: 3px;
    left: 3px;
    border-radius: 4px;
    background-image: url("check-box-unchecked.png");
}
.same-billing-address .custom-check input:checked +label {
    background-image: url("check-box-checked.png");
    background-repeat: no-repeat;
}
.same-billing-address .check-box-label {
    padding-left: 9px;
    font-family: PFD-Regular, 'Helvetica Neue', Helvetica, Helvetica, Arial, sans-serif;
    font-size: 18px;
    text-align: center;
}
.payment-info-form { }

.payment-info-form .card-input {
    background-color: #f4f4f4;
    border-radius: 7px;
    width: 90%;
    margin: 0px auto;
    padding: 10px;
    -moz-box-shadow: inset 0 0 10px #c7c7c7;
    -webkit-box-shadow: inset 0 0 10px #c7c7c7;
    box-shadow: inset 0 0 10px #c7c7c7;
    text-align: center;
}
.payment-info-form label {
    font-family: PFD-Light, 'Helvetica Neue', Helvetica, Helvetica, Arial, sans-serif;
    font-size: 18px;
    font-weight: normal;
}

.card-info-title {
    display: inline-block;
    margin: 0 auto;
}
.credit-card-number {
    width: 280px;
    margin: 0 auto;
    display: inline-block;
    font-family: PFD-Light, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background: #fafafa;
    outline: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    font-weight: 100;
    text-align: center;
    text-overflow: ellipsis;
    padding: 0;
    height: 40px;
    border: 4px solid #D2D2D2;
    line-height: 22px;
    color: #666666;
    font-size: 15px;
    margin-top: 5px;
}
.payment-info-form .card-input .row {
    width: 280px;
    margin: 0 auto;
}
.payment-info-form .card-input .row .col-sm-6.credit-card-date {
    padding-left: 0;
}
.payment-info-form .card-input .row .col-sm-6.credit-card-cvc {
    padding-right: 0;
}
.credit-card-date input, .credit-card-cvc input {
    width: 100%;
    margin: 0 auto;
    display: inline-block;
    font-family: PFD-Light, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background: #fafafa;
    outline: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    font-weight: 100;
    text-align: center;
    text-overflow: ellipsis;
    padding: 0;
    height: 40px;
    border: 4px solid #D2D2D2;
    line-height: 22px;
    color: #666666;
    font-size: 15px;
    margin-top: 20px;
}
.stripe-logo {
    display: block;
    text-align: center;
    padding-top: 12px;
}
.stripe-logo img {
    height: 25px;
}
.phone-number-for-delivery {
    text-align: center;
}
.phone-number-for-delivery ul {
    display: block;
    margin: 0;
    padding: 0;
    padding-top: 50px;
    width: 100%;
}
.phone-number-for-delivery ul li {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: center;
    width: 100%;
    line-height: 20px;
    font-size: 18px;
    font-family: PFD-Light, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.phone-number-for-delivery input {
    width: 280px;
    margin: 0 auto;
    margin-top: 5px;
    display: inline-block;
    font-family: PFD-Light, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background: #fafafa;
    outline: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    font-weight: 100;
    text-align: center;
    text-overflow: ellipsis;
    padding: 0;
    height: 40px;
    border: 4px solid #D2D2D2;
    line-height: 22px;
    color: #666666;
    font-size: 15px;
}

.orange-hr {
    line-height: 20px;
    border-bottom: 2px solid #ff4700;
    width: 98%;
    display: block;
    margin: 0 auto;
}

.cart-container {
    font-family: PFD-Regular, 'Helvetica Neue', Helvetica, Helvetica, Arial, sans-serif;
    font-size: 20px;
    color: #555555;
    width: 100%;
    text-align: center;
}
.cart-container ul.cart-wrapper {
    width: 960px;
    margin: 0 auto;
    padding: 0;
    padding-top: 10px;
}
.cart-container ul.cart-price {
    padding-top: 0;
}
.cart-container ul li {
    height: 65px;
    padding-top: 11px;
    padding-bottom: 11px;
}
.cart-container ul li.cart-item {}
.cart-container .product-name-description {
    text-align: left;
}
.cart-container .product-name {
    line-height: 24px;
    text-transform: uppercase;
}
.cart-container .product-description {
    font-size: 13px;
    line-height: 20px;
    text-transform: uppercase;
}
.cart-container .product-quantity {
    text-align: left;
}
.cart-container .product-price {
    text-align: right;
}
.cart-container .sub-total {}
.cart-container .shipping-cost {
    line-height: 45px;
    padding: 0;
}
.cart-container .total-price {
    line-height: 45px;
    padding: 0;
    font-weight: bold;
}
.cart-container .cart-is-empty {}
.cart-container .complete-the-form {
    background: #FF4700;
    line-height: 20px;
    padding-top: 20px;
    padding-bottom: 45px;
    width: 97%;
    color: #ffffff;
    text-align: center;
    margin: 0 auto;
    margin-top: 30px;
    font-size: 22px;
    text-shadow: none;
    border: 1px solid #CC3900;;
}
.cart-container .place-order {
    margin: 0 auto;
    margin-top: 20px;
    width: 330px;
    line-height: 110px;
    text-align: center;
    color: #FF4700;
    border: 1px solid #FF4700;;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background: #ffffff;
    font-size: 36px;
    font-weight: bold;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    transition: all 300ms ease;
    text-shadow: none;
    opacity: 0.6;
}
.cart-container .place-order:hover {
    background-color: #ff4700;
    color: white;
    border: 1px solid white;
}
.cart-container .shipping-is-free {
    padding-top: 20px;
    padding-bottom: 20px;
}
.cart-container .shipping-is-free p {
    color: green;
    font-size: 16px;
    font-style: italic;
    font-weight: normal;
    line-height: 25px;
    padding: 0;
    margin: 0;
}


@media (max-width: 768px) {
    .shipping-address-form .city-state .col-sm-6 {
        padding: 0;
    }
    .shipping-address-form .zip-country .col-sm-6 {
        padding: 0;
    }
    .payment-info-form .card-input .row .col-sm-6 {
        padding: 0;
    }
}